body {
  margin: 0;
  position: center;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: center;
}

code {
  font-family: 'sans-serif',
    monospace;
}
